.min-h-screen {
    min-height: 200vh;
}

.bg-red { 
    background-color: red;
}

.max-auto{
    margin-left:auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between;
}

.justify-center{
    justify-content:center;
}
.flex-col{
    flex-direction: column; 
}

.font-bold{
    font-weight: 900; 
}

.my1{
    margin-top: 13px;
    margin-bottom: 13px;
} 

.my2{
    margin-top: 23px;
    margin-bottom: 23px;
} 

.px1{
    padding-left: 13px;
    padding-right: 13px;   
}

.text-blue{
    color:rgb(103 6 6);
    
}

.btn{
    padding: 7px 12px;
    border : 2px solid white;
    border-radius: 6px;
    color:white;
    background-color:rgb(103 6 6);
    cursor: pointer;

}

.text-center{
    text-align: center;
}

.overflow-x-hidden{
    overflow-x: hidden;
}